html {
    background-color: rgb(255, 241, 217);
}

body {
    margin: 0%;
    padding: 0%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(183, 216, 180);
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

    background-color: rgb(241, 202, 209);
}

.cancel {
    display: flex;
    align-content: center;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;

    background-color: rgb(255, 241, 217);
    color: red;
}

/* building service section */
.service {
    background-color: rgb(241, 191, 209);
}

.serviceGala {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    padding: 5%;
}

.service-box {
    border: 2px;
    border-style: solid;

    padding: 2%;
}

.product {
    background-color: rgb(250, 215, 183);
}

footer {
    display: flex;
    margin-top: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 5%;

    background-color: black;
}

button {
    background-color: rgb(241, 202, 209);
}